<h1>Shopping Cart</h1>
<ng-container *ngIf="cart">
  <p>You have {{ cart.totalItemsCount }} items in your shopping cart</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productId of cart.productIds">
        <td *ngIf="cart.items[productId].quantity !== 0">
          {{ cart.items[productId].product.value.title }}
        </td>
        <td *ngIf="cart.items[productId].quantity !== 0">
          {{ cart.items[productId].quantity }}
        </td>
        <td *ngIf="cart.items[productId].quantity !== 0"></td>
      </tr>
    </tbody>
  </table>
</ng-container>
