<h1>Shipping</h1>
<div class="row">
  <div class="col-6">
    <form #f="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="shipping.name"
          #name="ngModel"
          name="name"
          id="name"
          placeholder="Name"
          required
        />
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="shipping.addressLine1"
          #addressLine1="ngModel"
          name="addressLine1"
          id="addressLine1"
          placeholder="Address line 1"
          required
        />
        <br />
        <input
          type="text"
          class="form-control"
          [(ngModel)]="shipping.addressLine2"
          #addressLine2="ngModel"
          name="addressLine2"
          id="addressLine2"
          placeholder="Address line 2"
        />
        <div
          *ngIf="addressLine1.touched && addressLine1.invalid"
          class="alert alert-danger"
        >
          Address is required
        </div>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="shipping.city"
          #city="ngModel"
          name="city"
          id="city"
          placeholder="City"
          required
        />
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
          City is required
        </div>
      </div>
      <button
        [disabled]="f.invalid"
        (click)="placeOrder()"
        class="btn btn-primary"
      >
        Place Order
      </button>
    </form>
  </div>
  <div class="col-6">
    <shopping-cart-summery [shooping-cart]="cart"></shopping-cart-summery>
  </div>
</div>
