<div class="card row col-10" style="padding: 0em; margin-bottom: 5%">
  <div class="card-body">
    <p>You have items in your shopping cart</p>
    <table
      class="table"
      [svData]="orders$ | async"
      #sv="svDataTable"
      [svRowsOnPage]="5"
      svSortBy="date"
      svSortOrder="asc"
    >
      <thead>
        <tr>
          <th>Order Id</th>
          <th><sv-default-sorter by="date">Order Date</sv-default-sorter></th>
          <th>Price</th>
          <th>Order Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of sv.data">
          <td>{{ order.key }}</td>
          <td>
            {{ order.value.datePlaced | date }}
          </td>
          <td>{{ order.value.totalPrice | currency: "USD":true }}</td>
          <td>{{ order.value.orderStatus }}</td>
          <td>
            <a [routerLink]="['/my/order-details/', order.key]">Details</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <sv-bootstrap-paginator
              [rowsOnPageSet]="[5, 10, 25]"
            ></sv-bootstrap-paginator>
          </td>
        </tr>
      </tfoot>
    </table>
    <a class="btn btn-primary" routerLink="">Check Out </a>
  </div>
</div>
