<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>

<input
  #query
  type="text"
  class="form-control mt-3"
  placeholder="Search..."
  (keyup)="filter(query.value)"
/>
<table
  class="table table-striped"
  [svData]="filteredProducts"
  #sv="svDataTable"
  [svRowsOnPage]="5"
  svSortBy="title"
  svSortOrder="asc"
>
  <thead>
    <tr>
      <th>
        <sv-default-sorter by="title">Title</sv-default-sorter>
      </th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of sv.data">
      <td>{{ p.value.title }}</td>
      <td>{{ p.value.price | currency: "USD":true }}</td>
      <td><a [routerLink]="['/admin/products/', p.key]">Edit</a></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <sv-bootstrap-paginator
          [rowsOnPageSet]="[5, 10, 25]"
        ></sv-bootstrap-paginator>
      </td>
    </tr>
  </tfoot>
</table>
